<%- include('partials/header-logged') -%>
<div class="">
  <div class="mx-6 mt-8 lg:mx-8">
    <div class="flex flex-col lg:flex-row lg:items-end ">

      <!--- POST IMAGE --->
      <img class="lg:w-1/2" src="<%= post.image%>" />

      <div class="lg:ml-6">

        <div class="flex flex-col container break-words">
          <h1 class="font-['merriweather'] text-3xl md:text-4xl lg:text-5xl mb-4 mt-2 lg:mt-0 lg:mb-8 "><%= post.title %></h1>
          <h2 class="inline-block font-['caveat'] text-3xl mb-2"><%= userName %></h2>
          <p class="font-['merriweather'] leading-6 tracking-wider"><%= post.caption %></p>
        </div>


        <!--- BUTTONS --->
        <div class="flex items-end justify-between">
          <div class="flex gap-2 mt-2">

          <%= likes.length %>


          <!---- LIKE BUTTON --->

          <form
            class="col-1"
            action= 
              <% if (!likes.includes(req.user._id)) { %>
                "/post/likePost/<%= post.id %>?_method=PUT"
              <% } %>
              <% if (likes.includes(req.user._id) === true) { %>
                "/post/unlikePost/<%= post.id %>?_method=PUT"
              <% } %>
            method="POST"
          >
            <button id="like-btn" class="flex items-center gap-[2px]" type="submit">LIKE 
              <svg id="heart" class="
              <% if (!likes.includes(req.user._id)) { %>
                fill-none
              <% } %>
              <% if (likes.includes(req.user._id) === true) { %>
                fill-yellow
              <% } %>
              " xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path d="M128,216S28,160,28,92A52,52,0,0,1,128,72h0A52,52,0,0,1,228,92C228,160,128,216,128,216Z" stroke-linecap="round" stroke-linejoin="round" stroke="#000000" stroke-width="16"></path>
              </svg>
            </button>
          </form>


          <!---- INSPO BUTTON --->
            <form
              class="col-1"
              action="/user/addToInpsirations/<%= post.id %>?_method=PUT"
              method="POST"
            >
              <button id="inspo-btn" class="flex items-center" type="submit">INSPO
                <svg id="lightbulb" class="fill-yellow fill-none" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><line x1="88" y1="232" x2="168" y2="232" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><line x1="128" y1="200" x2="128" y2="144" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><polyline points="96 112 128 144 160 112" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline><path d="M78.7,167A79.5,79.5,0,0,1,48,104.5C47.8,61.1,82.7,25,126.1,24a80,80,0,0,1,51.3,142.9A24.2,24.2,0,0,0,168,186v6a8,8,0,0,1-8,8H96a8,8,0,0,1-8-8v-6A24.4,24.4,0,0,0,78.7,167Z" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path></svg>
              </button>
            </form>
            </div>


          <!---- DELETE POST --->

          <% if(post.user == user.id){ %>
          <form
            action="/post/deletePost/<%= post.id %>?_method=DELETE"
            method="POST"
            class="col-3"
          >
          <button id="inspo-btn" class="flex items-center" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#000000" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><line x1="216" y1="56" x2="40" y2="56" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><line x1="104" y1="104" x2="104" y2="168" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><line x1="152" y1="104" x2="152" y2="168" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><path d="M200,56V208a8,8,0,0,1-8,8H64a8,8,0,0,1-8-8V56" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path><path d="M168,56V40a16,16,0,0,0-16-16H104A16,16,0,0,0,88,40V56" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path></svg>
          </button>
          </form>
          <%}%>
        </div>
      </div>
    </div>

  

  <!--- COMMENTS -->

  <div class="mt-8 mb-20 lg:w-2/3">
    <% if(comments.length > 0) { %>
      <h1 class="font-['caveat'] text-3xl md:text-4xl mt-2 lg:mt-02">comments</h1>
    <% } %>


    <!--- LOOPING THROUGH COMMENTS --->

    <ul class="grid grid-cols-1 gap-2">
      <% for(let i = 0; i < comments.length; i++) {%>
        <li class="flex flex-col border-b border-b-gray-200 pb-4 pt-4">
          <h3 class="font-['lato'] text-base"><%= comments[i].postedBy%></h3>
          <p class="inline-block mt-1 mb-4 font-['merriweather'] text-sm"><%= comments[i].text%></p>
          <div class="flex gap-2 font-['lato'] text-xs opacity-60">
            <p><%= comments[i].createdAt.toDateString()%></p>
          

          <!---- DELETE COMMENT --->

          <form
            action="/post/deleteComment/<%= post.id %>/<%= post.comments[i].id %>?_method=PUT"
            method="POST"
            class="col-3"
          >
          <% if (comments[i].postedBy === req.user.userName) { %>
            <button><p>delete</p></button>
          <% } %>
          </form>

          </div>
        </li>
      <% } %>
      </ul>
    

    <!--- LEAVE A COMMENT --->

    <div class="mb-4 mt-8">
      <form action="/post/comment/<%= post.id %>" method="POST">
        <label class="form-label font-['caveat'] text-3xl">leave a comment</label>
        <textarea maxlength="400" required class="focus:outline-none rounded-md focus:border-yellow   focus:ring-1 focus:ring-yellow form-control border-[1px] font-['lato'] text-l py-2 px-2 w-full text-left" name="caption"></textarea>

        <button type="submit" class="font-['caveat'] text-3xl bg-yellow text-black mt-4 py-2 px-10 rounded-md">submit</button>
      </form>
    </div>
  </div>
</div>